<h1>Profile</h1>
<h2><%= "#{@user.firstname} #{@user.lastname}" %></h2>
<h3><%= @user.email %></h3>
<% if @user.admin %>
  <p>Administrator</p>
<% end %>
<h3><%= @user.firstname %>'s Reviews</h3>
<hr/>
<% @user.reviews.each do |review| %>
  <p>Movie: <%= link_to review.movie.title, movie_path(review.movie) %></p>
  <p><%= review.text %></p>
  <p><%= review.rating_out_of_ten %>/10</p>
  <hr/>
<% end %>