<%= link_to "Back to Admin Page", admin_users_path %><br/>

  <h2><%= @user.firstname %> <%= @user.lastname %></h2>
  <h3><%= @user.email %></h3>
  <% if @user.admin %>
    <h3>Administrator</h3>
  <% end %>
  <p>Created: <%= @user.created_at %></p>
  <p><%= link_to "delete", admin_user_path(@user), method: :delete, confirm: "You sure?" %>, <%= link_to "edit", edit_admin_user_path(@user) %></p>